.menu {
  position: fixed;
  left: 0;
  top: 40%;
  display: flex;
  flex-direction: column;

  &__link {
    font-family: var(--accent-font);
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    padding: var(--spacing-xsm) var(--spacing-md) var(--spacing-xsm) var(--spacing-sm);

    &--selected {
      background-color: var(--color-primary);
    }
  }

  @media screen and (max-width: 870px) {
    display: none;
  }
}